.row_highlight_highlight, .row_highlight_highlight_vertical,
.row_highlight_highlight a, .row_highlight_highlight_vertical a
{
	color: #fff !important;
	background: #7EA7C6 !important;
	border-bottom-color: #000 !important;
}
th.row_highlight_highlight, th.row_highlight_highlight a
th.row_highlight_highlight_vertical, th.row_highlight_highlight_vertical a
{
	color: #000 !important;
}