#suggest_container
{
}
#suggest_container ul, #suggest_container li
{
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-type: none;
	list-style-position: inside;
}
#suggest_container li
{
}
#suggest_container li.over
{
}