#content   {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
}  
 
h1 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}
h2:first-of-type {
    margin-top: 0;
}
#content articlex
{
       -webkit-column-break-before:avoid;
        -moz-column-break-inside:avoid;
        column-break-inside:avoid;
} 
h2 { display:inline }


@media screen and (max-width: 1050px) {
#content   {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
} 
  }  

@media screen and (max-width: 900px) {
#content   {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
} 
  } 