  form{
 margin: 0 0 20px  0;
 padding: 0;
 width: auto;
}
fieldset{
 border: none;
}
.kat textarea{
overflow: auto;
width: 500px;
height: 200px;
}
  .kat input{
width: 330px;
}

  .kat input, .kat textarea {
  border: 1px solid #e7e7e7;
  padding: 5px;
  font-family: sans-serif;
}
  .kat select {
 width: 60%!important; 
   border: 1px solid #e7e7e7;
}
 
.topforms input{
 width: 200px!important;
}
.topforms input.none, .kat input.none{
 width: 2em!important;
}
.kat {
 border-top: 3px solid #ffd29d;
 background: #fff8ef;
 padding: 0px 10px 15px 10px;
 margin-bottom: 20px;
 width: 100%;
}                                            
  .kat h3 {
 font-weight: bold;
 margin-bottom: 10px;
 margin-top: 5px;
}
  .kat input.aftrlabel { float: left; width: 238px; }
  .kat label { float: left; width: 150px; line-height: 27px; }
.xseachinput {
 clear: left;
 padding-top: 5px;
}
.radiokeeper label{
  width: 250px; 
}
.radiokeeper input.aftrlabel { width: auto; }
.titleceeper {
position: relative;
}            
#sidemenu2016{
 	background: #fff;
	padding: 20px;
   -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px; 
margin-top: 10px;
}
#sidemenu2016 input.newsub,   input.newsub {
  background: #F7931E;
  border: #c16c09;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

}
#sidemenu2016 input#pass2, #sidemenu2016 input#login2 {  width: 153px }
#sidemenu2016 input.right {
 margin-left: 148px;
 margin-top: 5px;
}
 

#infotxt.wrong {
  background: #F7931E;
  color: #fff;                                                      
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 10px;
 margin: 0 0 20px 0 ;
 width: 100%;
 
}
  #infotxt.wrong h2{
 color: #fff!important;
 margin : 0px!important;
}
  #infotxt.wrong  p{
  margin-top: 0; padding-top: 0  
}
  .kat input.radiosmall {  width: 25px; } 
  .kat .radiolabel{
 display: block;
 width: 91%;
 float: right;
 line-height: 1.2em;
 
}
  .kat .radiokeeper {
  clear: both;
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px dotted #FFD29D
}
#sidemenu2016 ul li {
 color: #F7931D;
 list-style-type: square;
 margin-left: 0;
 padding-left: 0;
}
#sidemenu2016 ul{
 margin-left: 1.5em;
 padding-left: 0;
}      
textarea.tin {
 height: 60px;
}
 #sidemenu2016  h2.nobot { padding-bottom: 0.1em }
 #sidemenu2016  h3 {  
 
 font-size: 120%;
font-weight: normal;
 
color: #F7931D;
 padding-bottom:  0 ;
 margin-bottom: 0;
}
span.hperc {
display: block;
 width: 200px;
 height: 2px;
 background: #c0c0c0;
    -webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
position: relative;
}
span.tillperc {
display: block;
  position: absolute;
 height: 2px;  
 background:  #F7931E;
    -webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
right: 0px;
top: 0px;
 }
 a.inhperc {
   text-decoration: none;
  }
  .reg2 label {
   width: 80px;
   float:left;
   clear: left;
  }  
  
#lg input {
  border: 1px solid #e7e7e7;
  padding: 5px 3px
}

 /*

  .nicetitle { position: relative; }
 
.titleceeper span:hover:after, .nicetitle:hover:after{
    background: #c0c0c0;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
     content: attr(data-txt); 
     
    left: 70px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    font-weight: normal;
    font-size: 14px;
   
}
.titleceeper span:hover:before, .nicetitle:hover:before{
    border: solid;
    border-color: #c0c0c0 transparent ;
    border-width: 6px 6px 0 6px;
    bottom: 21px;
    content: "";
    left: 95px;
    position: absolute;
    z-index: 99;
}

.area span:hover:after {
    bottom: 178px;
}
.area span:hover:before {
    bottom: 173px;
}
*/

.titleceeper  p  {
 
  width: calc(100% - 520px);
  font-weight: normal;
  font-size: 14px;
  display: block;
  float: right;
  margin-top: -2em;
  
}
.titleceeper  p:first-of-type {
   color: #9e9e9e
 }
 .titleceeper  p:nth-of-type(2) {
  clear: both;
}
.titleceeper  p.nojump  {
 
   margin-top: 0em;
   margin-bottom: 2em
 }
.titleceeper  p:before  {
 
  color: #9e9e9e; 
  content: attr(data-txt); 
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  display: block;
  float: right;
 
}

.xseachinput:after{
   content: '';
   clear: both;
       display: block;
} 
.titleceeper span {
  display: block;
  width: auto;
  float: left;
  position: relative;
}
.kat p strong { margin-top: 5px; margin-bottom: 5px; display: block; }
.error-message { background: #ffd29d; color: #c16c09; padding: 3px 5px;     clear: left;}
.kat input + .error-message {width: 330px;}
.kat textarea + .error-message {width: 500px;}
.kat  input.aftrlabel + .error-message, .kat  input.radiosmall + .error-message  {width: 238px;    margin-left: 150px;  }
.kat .radiokeeper input.aftrlabel + .error-message {width: 168px; margin-left: 250px }
.kat .radiokeeper input.aftrlabel + .error-message {width: 168px; margin-left: 250px }
.kat input[type=file] + .error-message {width: 190px; margin-left: 150px }
 
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  background:url('../images/xstar.png') no-repeat left center;
  background-size: contain;
  }
::-moz-placeholder { /* Firefox 19+ */
  background:url('../images/xstar.png') no-repeat left center;
  background-size: contain;
}
:-ms-input-placeholder { /* IE 10+ */
  background:url('../images/xstar.png') no-repeat left center;
  background-size: contain;
}
:-moz-placeholder { /* Firefox 18- */
  background:url('../images/xstar.png') no-repeat left center;
  background-size: contain;
}
 
p.star{
  color: #c0c0c0;
  background:url('../images/xstar.png') no-repeat left center;
  background-size: 20px;
  padding-left: 20px; 
  margin-top: 2em;
}
sup { color: #f7931e; padding-top: 5px;  } 
.titleceeper span.znaky { float: none!important; display: inline!important; }