h1 {
  width: 150px;
  height: 150px;
  float: left;
  margin-top: -20px;
  position: absolute;
  background: white url(../images/logo2016.png) no-repeat center 30px;
  background-size: 120px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  margin-left: -30px;
}

h1 a {
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
}

h1 span {
  position: absolute;
  top: -1500px;
}

h2 {
  font-family: 'Roboto Condensed';
  font-size: 190%;
  color: #ec840a;
  margin-top: 0;
  font-weight: 200;
}

#text.isbox, #sidemenu {
  width: 100%;
  float: none;
  margin: 0;
}

.miniboxxx {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.miniboxxx:nth-child(3) {
  margin-right: 0%;
}

.miniboxxx:nth-child(4) {
  display: none;
}

.miniboxxx:nth-child(5) {
  display: none;
}

.datebox em {
  display: none;
}

.datebox p {
  margin: 0;
  padding: 0
}

.datebox span {
  float: left;
  margin-right: 0.1em;
}

.datebox span:after {
  content: '.';
}

.miniboxxx h3 {
  margin-top: 0.2em
}

.hbox {
  width: 49%;
  float: left;
  background: #f8f9fb;
  background: #eef1f6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 24px 24px 0 24px;
  margin-right: 1%;
  margin-left: 0%;
  background: url('../images/dms3.jpg') no-repeat left top;
  background-size: cover;
  min-height: 310px;
  position: relative;
  margin-bottom: 25px;
}

#slideholder {
  position: relative;
  clear: both;
  width: 49%;
  margin-right: 1%;
  margin-left: 0%;
  float: left;
  padding: 0;
  height: 100%
}

#slideshow {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  min-height: 310px;
}

#homebox1 {
  background: url('../images/dms6.jpg') no-repeat left top;
  background-size: cover;
}

#homebox3 {
  background: url('../images/dms5.jpg') no-repeat left top;
  background-size: cover;
}

.hbox:nth-child(2n+0) {
  margin-right: 0%;
  margin-left: 1%;
}

.hbox p, #slideshow .slide .caption p {
  position: relative;
  float: left;
  display: block;
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -24px 0px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -24px 0px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -24px 0px 0px 0px rgba(0, 0, 0, 0.3);
  padding: 7px 15px 7px 0;
  color: #fff;
  text-shadow: 1px 1px 2px rgba( 0, 0, 0, 1);
  font-size: 110%;
}

#slideshow .slide .caption {
  margin: 0 24px;
}

#slideshow .slide .caption {
  width: 100%;
  display: block;
  text-align: left;
  color: #fff;
  position: absolute;
  text-shadow: 1px 2px 3px #000;
  height: 100%;
  box-sizing: border-box;
}

.hbox p, .hbox h3 {
  clear: left;
}

.hbox h3 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba( 0, 0, 0, 1);
}

.hbox h3 {
  color: #fff;
  text-shadow: 1px 1px 2px rgba( 0, 0, 0, 1);
}

.hbox h2, #slideshow .slide .caption h2 {
  background: #fff;
  margin: -24px;
  padding: 10px 24px;
  margin-bottom: 20px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.hbox .more, #slideshow .more, #slideshow .slide .caption .more {
  color: #ec840a;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 8px 15px;
  display: block;
  float: right;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-shadow: none;
   transition: background ease 1s;
}

#slideshow .slide .caption .more {
  right: 40px;
  bottom: 40px;
}

.hbox .more:hover, #slideshow .slide .caption .more:hover {
  text-decoration: none;
  background-color: #ec840a;
  text-shadow: 1px 1px 2px rgba( 0, 0, 0, 1);
  color: #fff;
  transition: background ease 1s;
}

#kam {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background: #fff;
  width: 100%;
  padding: 10px 24px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
}



article h2 {
  text-align: center;
  margin-top: 24px;
}

.logs {
  float: left;
  margin-right: 10px;
}

#main {
  margin-top: 135px!important;
}
#homebox3 h3 {
  color: #404040;
    text-shadow: 1px 1px 2px rgba( 255, 255, 2555, 1);
}