 .mainclr {
   clear: both;
   height: 0;
   line-height: 0;
   font-size: 0;
   margin: 0;
   padding: 0;
   display: block;
 }
 
 body {
   margin: 0;
   padding: 0;
   color: #404040;
   font-size: 90%;
   font-family: 'Roboto', sans-serif;
 }
 
 #logo {
   width: 150px;
   height: 150px;
   float: left;
   margin-top: -20px;
   position: absolute;
   

   -webkit-border-radius: 75px;
   -moz-border-radius: 75px;
   border-radius: 75px;
   margin-left: -30px;
   -webkit-transition: all ease 1s ;
   -o-transition: all ease 1s ;
   transition: all ease 1s ;
 }
 
section img {
  max-width: 100%;
}

 #logo a {
   width: 150px;
   height: 150px;
   display: block;
   position: absolute;
   -webkit-border-radius: 75px;
   -moz-border-radius: 75px;
   border-radius: 75px;   
   background: white url(../images/logo2016.png) no-repeat center 30px;
      background-size: 120px;
      left: 0;    
 }

  #logo.smaller {
   transform: scale(0.6, 0.6);
   margin-top: -40px;
   background:   url(../images/logo2016.png) no-repeat center 30px;
   background-size: 120px;
   margin-left: -40px;
   -webkit-transition: all ease 1s ;
   -o-transition: all ease 1s ;
   transition: all ease 1s ;
 }
 
 #logo span {
   position: absolute;
   top: -1500px;
 }
 
 nav div {
   width: 1230px;
   margin: 0 auto;
 }
 
 section {
   width: 100%;
   margin: 0 auto;
   padding: 0 calc((100% - 1230px)/2);
 }
 
 footer div {
   width: 1230px;
   margin: 0 auto;
   height: 340px;
 }
 
 footer div span {
   width: 32%;
   floaT: left;
   display: block;
   color: #e7e7e7;
 }
 
 footer div span span {
   width: auto;
   float: left;
 }
 
 footer div span span.break {
   clear: left;
 }
 
 footer .not {
   display: none;
 }
 
 footer .logodown {
   line-height: 50px;
 }
 
 footer .logodown img {
   float: left;
   margin-right: 1em;
 }
 
 footer a:hover {
   text-decoration: none;
 }
 
 footer a {
   color: #e7e7e7;
 }
 
 nav ul {
   margin: 17px 0 0 0;
   padding: 0;
   list-style-type: none;
   float: right;
   line-height: 25px;
   height: 25px;
   font-size: 110%;
   right: 0;
 }
 
 nav ul ul {
   display: none
 }
 
 nav ul li {
   float: left;
   display: inline-block;
   margin-right: 3px;
   padding-right: 0em;
   /*border-right: 1px solid  #736d67;*/
 }
 
 nav ul li a {
   text-decoration: none;
   color: #736d67;
   padding: 10px 10px;
   display: inline-block;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   font-family: 'Roboto Condensed';
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
 }
 
 nav ul li a:hover {
   color: #fff;
   background: #ec840a;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
   text-shadow: 1px 1px 2px rgba( 0, 0, 0, 1);
 }
 
 nav ul li span a {
   padding: 3px 10px;
 }
 
 #menu li span {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 }
 
 #slideshow {
   height: 300px;
   clear: left;
   width: 100%;
   position: relative;
   overflow: hidden;
   width: 49%;
   margin-right: 1px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
 }
 
 #slideshow .slide {
   background: url('../banners/banner.jpg') no-repeat center center;
   position: absolute;
   background-size: cover;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   opacity: 0;
 }
 
 #slideshow .show {
   opacity: 1;
 }
 
 #slideshow #my2 {
   background: url('../banners/banner2.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshow #my3 {
   background: url('../banners/banner3.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshow #my4 {
   background: url('../banners/banner4.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshow #my5 {
   background: url('../banners/banner5.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshow #my6 {
   background: url('../banners/banner6.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshow #my7 {
   background: url('../banners/banner7.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshow #my8 {
   background: url('../banners/banner8.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshow #my9 {
   background: url('../banners/banner9.jpg') no-repeat center center;
   background-size: cover;
 }
 
 #slideshowmover, #slideshowleftmover {
   position: absolute;
   z-index: 997;
   top: 150px;
   right: 24px;
   width: 30px;
   height: 30px;
   display: block;
   cursor: pointer;
   color: #fff;
   font-size: 220%;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   background: #f8931d url('../images/next.png') no-repeat center center;
   text-decoration: none;
   filter: alpha(opacity=45);
   opacity: 0.45;
 }
 
 #slideshowmover:hover, #slideshowleftmover:hover {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 
 #slideshowleftmover {
   background: #f8931d url('../images/prev.png') no-repeat center center;
   left: 24px;
 }
 
 #slideshowmover em {
   display: block;
   width: 8px;
   height: 8px;
   border: 2px solid #fff;
   webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   position: relative;
   margin-top: 245px;
   float: right;
   margin-right: 5px;
   background: #fff;
   display: none;
 }
 
 #slideshowmover em.this {}
 
 #slideshow .slide .caption {
   width: 100%;
   display: block;
   text-align: left;
   color: #fff;
   position: absolute;
   top: 20px;
   text-shadow: 1px 2px 3px #000;
 }
 
 #slideshow .slide .caption strong {
   display: block;
   font-size: 250%;
   font-weight: normal;
 }
 
 #slideshow .slide .caption h2 {}
 
 #slideshow .slide .caption a {}
 
 header, nav {
   /*
-webkit-box-shadow: 0px 11px 44px -25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 11px 44px -25px rgba(0,0,0,0.75);
box-shadow: 0px 11px 44px -25px rgba(0,0,0,0.75);
*/
 }
 
 #menu li span {
   font-size: 90%;
   font-weight: normal;
   margin: 0.5em 0 0.5em -5px;
   display: none;
   background: #fff;
   position: absolute;
   /*
-webkit-box-shadow: 1px 10px 13px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 1px 10px 13px -1px rgba(0,0,0,0.55);
box-shadow: 1px 10px 13px -1px rgba(0,0,0,0.55);*/
 }
 
 #menu li span a:hover {
   background: none;
   color: #f8931d
 }
 
 #menu li span.opened {
   display: block;
 }
 
 #menu li span a {
   display: block;
   color: #707070;
   text-transform: none;
   /*background: url('../images/menuspana.gif') no-repeat 5px center;*/
   padding-left: 10px;
   padding-right: 15px;
   font-size: 1.1em;
   margin-left: 5px;
 }
 
 #menu li span a:hover {
   text-decoration: underline;
   /*background: url('../images/menuspana.gif') no-repeat 5px center;*/
   text-shadow: none;
 }
 
 h2.webname {
   display: none;
 }
 
 h1, #text #projectleft h2 {
   font-family: 'Roboto Condensed';
   font-size: 220%;
   color: #ec840a;
   margin-top: 0;
   font-weight: 400;
 }
 
 section h1 {
   text-align: right;
 }
 
 .fakeh2, #sidemenu h2, #text h2 {
   font-family: 'Roboto Condensed';
   font-size: 140%;
   font-weight: normal;
   color: #ec840a;
   margin-bottom: 0em;
 }
 
 #sidemenu h3, #text h3 {
   font-family: 'Roboto Condensed';
   font-size: 130%;
   font-weight: normal;
   color: #000;
 }
 
 footer h4 {
   color: #e7e7e7;
   font-family: 'Roboto Condensed';
   font-size: 130%;
   font-weight: 200;
 }
 
 #sidemenu a, #text a {
   color: #000;
 }
 
 #sidemenu a:hover, #text a:hover {
   color: #ec840a;
   text-decoration: none;
 }
 
 h1 em {
   display: none
 }
 
 #sidemenu, #dmsproject, #homeleft {
   width: 30%;
   float: left;
   margin-top: 0;
 }

 #dmsproject {
   margin-top: 30px;
 }

 #text.isbox, #projectleft, #left, #aktuality {
   width: 65%;
   float: right;
   margin-left: 5%;
 }
 
 p {
   margin: 0;
 }
 
 table.dms {
   border: 4px solid #fff;
   border-collapse: collapse;
   margin-top: 1em;
   width: 100%;
 }
 
 table.dms th, table.dms td {
   border: 1px solid #fff;
   border-collapse: collapse;
   padding: 5px 8px;
   vertical-align: top;
 }
 
 table.dms th {
   background: #fff;
   padding: 8px;
   color: #404040;
       text-align: left;
 }
 
 table.long {
  /* width: 500px;*/
 }
 
 td.r {
   text-align: right;
 }
 
 a.top, a.down {
   height: 1em;
   width: 7px;
   margin: 0 3px;
    background: url('../images/top.gif') no-repeat left center; 
   float: right;
   display: block;
 } 
 
 a.down {
   background: url('../images/down.gif') no-repeat left center; 
 }
 
 form, fieldset {
   margin: 0;
   padding: 0;
   border: none;
 }
 
 form#formsrch {
   float: right;
 }
 
 #dmsproject h4, .biglink {
   color: #ec840a!important;
   font-size: 200%;
   background: #efefef;
   border: 1px solid #cfcfcf;
   border-radius: 3px;
   display: block;
   padding: 15px;
   margin-top: 0px;
   font-family: 'Roboto Condensed';
   margin-bottom: 0.5em;
 }
 
 #text a.biglink {
   display: block;
   padding: 15px 30px;
   background: #F7921C;
   color: #fff!important;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   float: left;
   margin: 10px 0 20px 0;
   font-size: 120%;
 }
 
 a.biglink:hover {
   background: #707070;
 }
 
 img.logo {
   background: #fff;
   padding: 1em;
   border: 1px solid #cfcfcf;
   border-radius: 3px;
 }
 
 a.back {
   clear: left;
   display: block;
   margin-top: 1em;
 }
 
 .miniboxxx {
   margin-bottom: 0.5em;
   padding-bottom: 0.5em;
   border-bottom: 1px dotted #c0c0c0;
 }
 
 .miniboxxx .datebox span {
   float: left;
 }
 
 .miniboxxx .datebox span:after {
   content: '.';
   margin-right: .5em
 }
 
 .miniboxxx .datebox em {
   margin-left: .5em;
   font-style: normal
 }
 
 #mini-menu {
   background: #fff;
   height: auto;
   width: auto;
   float: right;
   margin: 0;
   padding: 25px;
   width: 0px;
   display: none;
   z-index: 900;
   position: absolute;
   height: 100vh;
   overflow: auto;
 }
 
 #mini-menu li {
   display: block;
   margin-left: 1em;
   clear: left;
   border-right: 0px solid #736d67;
   border-bottom: 1px solid #e7e7e7;
   margin-bottom: 0.5em;
   padding-bottom: 0.5em;
 }
 
 #mini-menu span {
   display: block;
   margin-left: 1em;
 }
 
 #mini-menu span a {
   display: block;
 }
 
 #startmenu {
   display: none;
   cursor: pointer;
   background-color: #ec840a;
   background-image: url('../images/mini-menu.png');
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   width: 60px;
   height: 50px;
   margin: 10px;
   floaT: right;
   position: absolute;
   right: 0px;
   top: 10px;
   z-index: 1000;
 }
 
 #slideshow .slide .caption a:hover {
   text-decoration: underline;
 }
 
 a.biglink {
   display: block;
   padding: 15px 30px;
   background: #F7921C;
   color: #fff!important;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   float: left;
   margin: 10px 0 20px 0;
   font-size: 120%;
 }
 
 #text form h2 {
   margin-bottom: 1em;
 }
 
 #logged {
   float: right;
 }
 
 #insidebox {
   margin-top: 1em;
 }
 
 .pager, .pagerrim, .pagerselected {
   display: block;
   float: left;
   margin-left: 2px;
   padding: 0.2em;
   min-width: 1.5em;
   width: auto!important;
   height: 1.7em;
   line-height: 1.3em;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   color: #fff;
   background: #e7e7e7;
 }
 
 .pagerrim {
   width: auto!important;
   padding: 0.2em 0.5em 0.2em 0.5em;
 }
 
 .pagerselected {
   color: #fff;
   background: #ec840a;
 }
 
 a.pager:hover, a.pagerrim:hover {
   color: #fff !important;
   background: #ec840a;
   width: auto!important;
 }
 
 #newsearch2 {
   float: left;
   clear: left;
 }
 
 #newsearch2 h4 {
   margin-bottom: 0.2em;
 }
 
 #newsearch2 form#formsrch {
   float: none;
 }
 
 section a {
   color: #707070
 }
 
 section a:hover {
   color: #ec840a;
 }
 
 section h2 {
   font-weight: normal;
   color: #ec840a;
   margin-bottom: 0.2em;
    font-size: 140%;
    margin-top: 10px;
 }
 
 section ul li, section ol li {
   color: #ec840a;
 }
 
 section ul li span, section ol li span {
   color: #404040
 }
 
 section ul, section ol, section ul li, section ol li {
   margin: 0;
   padding: 0;
 }
 
 section ul, section ol {
   margin-left: 1em;
   margin-bottom: 1em;
 }
 
 section ul li, section ol li {
   margin-bottom: 0.5em;
 }
 
 section#content-left {
   width: 70%;
   float: left;
   padding-left: 0 calc((100% - 1230px)/2);
   padding-right: 50px;
 }
 
 section#content-right {
   width: 30%;
   float: right;
   padding-right: 0 calc((100% - 1230px)/2);
   padding-left: 0;
 }
 

 footer span li, footer span ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 footer .social{
   display: block;
   float: right;
   margin-right: 5px;
   width: 50px;
   height: 50px;
   text-align: center;
   color: #707070;
   background:transparent;
   font-size : 50px;
   libe-height: 50px;
   text-decoration: none;
    }
    footer .social:hover{
      color: #3b5998;
  
    }
    footer .fa-youtube-square:hover{
    color: #CD181F
    }
    footer .fa-twitter-square:hover{
    color: #1da1f2
    }    



 footer .social span { display: none; }
 footer span.right {
   text-align: right;
 }


.catlist {
  width: 11.1%;
  float: left;
  text-align: center;
  padding: 5px;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 65px;

}

#catz h2 {
  color: #ec840a;
  font-weight: normal;
  text-align: center;
  font-family: 'Roboto Condensed';
}

#catz h3 {
  font-weight: normal;
  font-family: 'Roboto Condensed';
}
#catz {
  width: calc(100% + (1230px - 100%));
  background: #fff;
  clear: both;
  position: relative;
  padding: 20px 0
}

#catz:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  margin-left: calc(-50vw + 50%);
  z-index: -1;
  background: #fff;
}
#newsearch {
      padding-bottom: 4em;
}
.inpage #catz h2 {
  text-align: left;
  margin-top: -2em;
  position: absolute;

}
.inpage #catz {
    position: relative;
    padding: 5px 0 0 0;
} 
.inpage .catlist {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);    
}
.inpage .activeclass{
   -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);     
}
.inpage  .activeclass a{
   color: #ec840a;
}
#formsrch input {
  padding: 7px;
}
#formsrch input.button {
  color: #fff;
  background: #ec840a;
  border: 2px solid #ec840a;
}
#sidemenu2016 h2 {
  margin-top: 0
}
.faqdiv span {  display: none; max-height:  0px; height: 0px;    
 

}
.faqdiv span.opened { display: block; max-height: 150px; height: auto;  }
.faqdiv {position: relative; padding-left: 15px; cursor: pointer;}
.faqdiv h2:hover{  text-decoration:  underline}
.faqdiv:before {
  content: '';
  position: absolute;
  background: url('../images/top.gif') no-repeat top left;
  width: 10px;
  height: 10px;
  display: block;
  left: 0px;
  top: 10px;
 }
 .myfaq input {
   margin-top: 5px;
   width: 100%;
 }
 
 .myfaq span:after { content: '';  clear: both; display: block;  width: 100% }
 .myfaq .titleceeper { display: block; }
 .myfaq .titleceeper span { width: 100% } 
 .myfaq input#logmeplease  { width: 50%!important; float: right; margin: 0; }
 .myfaq textarea { width: 100%; height: 100px; border: 1px solid #e7e7e7; padding: 5px 3px; margin-top: 5px; margin-bottom: 0px!important;  font-family: Arial; }
 .myfaq fieldset+.error-message,  .myfaq .faqError+.error-message   { display: none; }
 .myfaq .faqError { margin-top: 10px; background: #e7e7e7;  padding: 5px; }

footer div span span.rightmargin { padding-right: 0.3em }
section h2 a { color:  #ec840a;}
section h2 a:hover { text-decoration: none }

.downs {
  
  width: 30%;
   
}

#content-right .downs {
    display: block;
    float: none;
    width: 80%;
}
 
.downs {
    min-height: 60px;
    padding: 10px;
    margin: 10px;
}
 
.downs {
    padding: 5px;
    margin-top: 5px;
    display: block;
    float: left;
    margin-right: 5px;
    border: 0px solid #fff;
    font-size: 80%;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.downs img { float: left; margin : -5px 0 -5px -5px; width: 60px; }
.pparts .downs {

     float: left;
     margin: 0 1em 1em 0
}
.hp {
  float: right;
  font-size: 80%;
  color: #5f5f5f
  }
  .hp a{
    color: #5f5f5f 
  }
  a.buttn {
 
      background: #F7931E;
      border: #c16c09;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
 
  } 
  a.buttn:hover {
    color: #fff;
    background:  #c16c09;
  }