						body, p, li {
							font-family: "Verdana CE", "Arial CE", "Lucida Grande CE", "Helvetica CE", Verdana, Arial, lucida, sans-serif;
							margin-left:5px;
							margin-right:3px;
						}
						A:link {color: #000000;}
						A:hover {color: #FF6600; }
						A:visited {color: #000000;}



						.ora1 {
							margin:  9px 0px 9px 0px ;
						}

						.aktual {
							margin:  25px 2px 25px 4px ;
							}text-align: ;
						.ukoncen {
							margin:  1px 0px 0px 0px ;
							line-height: 15px;
						}


						TABLE.tablemain {background-color: #ffcc00; }
						TABLE.tabletext {font-size: 12px; text-align: left;}
						TABLE.smalltext {font-size: 9px;}


						TD.logo {background-color: #FFFFFF; color: #999999; font-size: 20px; font-weight: bold; }

						TD.hlavicka {background-color: #FFFFFF; color: #FF6600; font-size: 20px; font-weight: normal; }
						.slogan {font-size: 22px; line-height: 17px}

						TD.orange {background-color: #ff9900; color: #ffffff;  font-size: 12px; font-weight: bold; text-align: left; padding-left:4px}

						h1 {
							font-size:125%; margin: 9px 9px 9px 9px;


						}
						h2 {
							font-size:115%;
							margin: 9px 9px 9px 9px;
						}
						h3 {
							font-size:105%;
							margin: 9px 9px 9px 9px;
						}



						TD.blue {background-color: #0099CC; color: #ffffff;  font-size: 11px; font-weight: bold; text-align: left; padding-left:5}

						.nazev1 {font-size: 14px;  color: #000000; font-weight: bold}
						.nazev2 {font-size: 14px;  color: #000000; font-weight: bold; line-height: 15px; padding:  9px 0px 5px 5px ; margin: 0px;}
						.nazev3 {font-size: 22px;  color: #000000; font-weight: bold; line-height: 5px}
						.nazev4 {font-size: 14px;  color: #ffffff; font-weight: bold}
						.nazev5 {font-size: 14px;  color: #ffffff; font-weight: normal; line-height: 4px}

						TD.grey {background-color: #E5E5E5; color: #000000;  font-size: 12px; overflow:auto; text-align: justify; padding-left:10; padding-right:10; padding-top:10 ; padding-bottom:10;}



						#novinky {
							position:absolute; left:222px; top:275px;
							width:410px; height:350px;
							overflow:auto;
							text-align: justify;
							padding-top:0;
							padding-left:0;
							padding-right:5;
							background: #E5E5E5;
							border:0px;
							font-size: 12px;
						}


						.menu {font-size: 12px; font-weight: bold; text-decoration: none; line-height: 22px; }
						A.menu:link {color: #FF6600; }
						A.menu:hover {color: #747474; }
						A.menu:active {color: #ff0000; }
						A.menu:visited {color: #FF6600; }

						.menu1 {; font-size: 12px; font-weight: bold; text-decoration: none; line-height: 22px;  }
						A.menu1:link {color: #0099CC; }
						A.menu1:hover {color: #747474;}
						A.menu1:active {color: #FF0033; }
						A.menu1:visited {color: #0099CC; }

						A.orange {color: #FFffff; font-size:105%; text-decoration: none; margin: 9px 0px 9px 0px ;}
						A.orange:link {color: #FFffff; }
						A.orange:hover {color: #cccccc; }
						A.orange:active {color: #FFffff; }
						A.orange:visited {color: #FFffff; }


						A.orange1 {
							color: #000000;
							font-size: 100%;
							text-decoration: none;
							line-height: 105%;
							padding-right: 2px; }



						A.orange2 {color: #FFffff; text-decoration: underline; font-size: 100%; line-height: 105%;}
						A.orange2:link {color: #FFffff; }
						A.orange2:hover {color: #cccccc; }
						A.orange2:active {color: #FFffff; }
						A.orange2:visited {color: #FFffff; }

						.anketa { font-size: 12px; font-weight: bold;  text-decoration: none; line-height: 22px; }
						A.anketa:link {color: #000000; text-decoration: blink;}
						A.anketa:hover {color: #747474; }
						A.anketa:active {color: #FF0033; }
						A.anketa:visited {color: #FF6600; }

						A.submenu {
							margin:  9px 9px 9px 9px ;
							text-decoration: none;
							font-weight: bold;
							color: #FF6600;
						}
						A.submenu:link {color:#FF6600; }
						A.submenu:hover {color: #FF9900; }
						A.submenu:active {color: #FFffff; }
						A.submenu:visited {color:#FF6600; }


						TD.paticka {color: #9D9D9D;  font-size: 10px; text-align: right; line-height: 10px}



						.tisk  {font-style: italic;
						}
						.podpis  { text-align: right;
						}
						li.odstup  { line-height: 20px;  text-decoration: none; }
						.odstup1  { line-height: 25px; }

						a.oblasti {
							line-height: 14px;
							text-decoration: none;
						}
						p.obl {
							margin:  5px 5px 2px 7px ;
						}
