html, body {
	background: #fff;
	color: #626262;
	font-family:  Arial, Helvetica, lucida, sans-serif;
  font-family: Verdana, "Geneva CE", lucida, sans-serif;
	font-size: 85.01%;
	margin: 0;
	padding: 0;
	text-align: center;
}
#newsearch { display: none; }
#main {
	width: 997px;
	margin: 10px auto 10px auto;
	position: relative;
	background: #fff url('../images/sponky.jpg') no-repeat 497px -4px;
  background: #fff;
	border-bottom: 15px solid #fff;
	text-align: left;
	position: relative;
}
a {
	color: #404040;
}
a:hover {
	text-decoration: none;
	color: #f7931d;
}
h3 a{
  color: #f7931d;
}
li span{
 	color: #626262;
}
a img {
	border: none;
}
.clearer, .mozclearer {
	clear: both;
	margin: 0;
	margin-top: -1em;
	font-size: 0;
}
.mozclearer {
	.display: none;
}
#logo, #logo span {
	display: block;
	width: 267px;
	height: 210px;
	padding: 0;
	margin: 0;
	font-size: 120%;
	overflow: hidden;
	position: relative;
	text-align: center;
	float: left;
}
#logo a {
	color: #f7931d;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}
#logo span {
	top: 0;
	left: 0;
	position: absolute;
	background: transparent url('../images/newlogo.jpg') no-repeat;
	z-index: 10;
	cursor: pointer;
	margin: 0;
}
#logo span {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	margin: 0;
}
#claim {
	height: 5em;
	background:  ;
	padding-right: 23px;
}
#claim a {
	width: 17px;
	height: 16px;
	background: url('../images/home.gif') no-repeat left top;
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	_margin-left: 35px;
}
#claim a.search {
	background: url('../images/hledat.gif') no-repeat left top;
}
#claim a.email {
	background: url('../images/mail.gif') no-repeat left top;
}
#claim h2 {
	letter-spacing: 0.08em;
	margin: 10px 0 0 0;
	color: #111111;
	font-size: 140%;
	display: block;
	float: right;
	text-align: right;
	font-weight: normal;
}
#claim h2 span {
	display: block;
	width: auto;
	color: #f7931d;
	font-size: 140%;
	padding-left: 25px;
	background: url('../images/uvozovky.gif') no-repeat left top;
}
#box1, #box2, #box3 {
	background: transparent url('../images/boxbottom.jpg') no-repeat left bottom;
	width: 230px;
	height: 305px;
	float: left;
	position: relative;
}
#box2, #box3 {
	margin-left: 11px;
}
a.inbox {
	display: block;
	position: absolute;
	width: 190px;
	padding-left: 40px;
	padding-top: 13px;
	height: 82px;
	right: 0;
	bottom: 0px;
	_bottom: -1px;
	background: url('../images/ainbox.jpg') no-repeat right bottom;
	color: #fff;
}
a.inbox:hover {
	background: transparent;
	text-decoration: underline;
	color: #fff;
}
a.inbox em {
	display: block;
	padding-right: 20px;
	font-style: normal;
	font-size: 12px;
}
#box1 span, #box2 span, #box3 span {
	display: block;
	background: url('../boxes/a1.jpg') no-repeat left top;
	width: 230px;
	height: 212px;
}
#box1 span.spanbox1 {
	background: url('../boxes/a2.jpg') no-repeat left top;
}
#box1 span.spanbox2 {
	background: url('../boxes/a3.jpg') no-repeat left top;
}
#box2 span {
	background: url('../boxes/b1.jpg') no-repeat left top;
}
#box2 span.spanbox1 {
	background: url('../boxes/b2.jpg') no-repeat left top;
}
#box2 span.spanbox2 {
	background: url('../boxes/b3.jpg') no-repeat left top;
}
#box3 span {
	background: url('../boxes/c1.jpg') no-repeat left top;
}
#box3 span.spanbox1 {
	background: url('../boxes/c2.jpg') no-repeat left top;
}
#box3 span.spanbox2 {
	background: url('../boxes/c3.jpg') no-repeat left top;
}
span.spanbox4 {

  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-bottom: 0px;     
  border-top-left-radius: 6px;
border-top-right-radius: 6px;
}   
#box3 span.spanbox4{
	background: #fff url('../boxes/cnew.jpg') no-repeat left top;     
}    
#box2 span.spanbox4{
	background: #fff url('../boxes/bnew.jpg') no-repeat left top;     
} 
#box1 span.spanbox4{
	background: #fff url('../boxes/anew.jpg') no-repeat left top;     
}                                 
#footer {
	background: #acacac url('../images/footeright.gif') no-repeat right top;
	font-size: 100%;
	height: 63px;
	line-height: 63px;
	text-align: right;
	padding: 0 30px 0 0;
	color: #fff;
	margin-top: 1em;
	clear: both;
	position: relative;
}
#footer a {
	color: #fff;
}
#footer p {
	display: block;
	width: 257px;
	background: #707070 url('../images/footerleft.gif') no-repeat left top;
	float: left;
	height: 63px;
	line-height: 63px;
	padding-left: 30px;
	text-align: left;
	margin-top: 0;
}
#logodf {
	position: absolute;
	top: -180px;
	left: 70px;
}
#logods {
	position: absolute;
	top: -60px;
	left: 20px;
}
#stamp {
	position: absolute;
	top: -310px;
	left: 75px;
	width: 110px;
	height: 120px;
	display: block;
 
  display: none;
}
#search {
	width: 258px;
	height: 95px;
	background: #e7e7e7 url('../images/newsearch.jpg') no-repeat left top;
	position: absolute;
	top: 267px;                                                      
	left: 0;
	padding: 0;
	margin: 0;
}
#search fieldset {
	border: none;
	padding: 0px 10px;
	color: #fff;
	font-size: 140%;
	text-align: center;
	margin: 0;
}
#search legend {
	margin: 10px 0 0 85px;
	padding-right: 20px;
  padding-top: 4px;
/*	background: url('../images/searchsipka.gif') no-repeat right center;       */
}
#search input {
	border: 1px solid #975b15;
	margin-top: 10px;
	width: 200px;
	background: #e7e7e7 ;
}
#search input.go {
	color: #996600;
	font-size: 12px;
	background: #ffffff url('../images/go.jpg') no-repeat left top;
	width: 40px;
	height: 22px;
	border: none;
	margin: 0;
}
#search .okologo {
	width: 48px;
	_width: 45px;
	height: 28px;
	padding: 0;
	float: right;
	margin: 5px 15px 0 0;
	.margin-right: 10px;
	_margin-right: 5px;
	background: url('../images/okologo.jpg') no-repeat 3px top;
	.background: url('../images/okologo.jpg') no-repeat left top;
}
#search a {
	color: #fff;
	font-size: 80%;
	margin-top: 5px;
	margin-left: 17px;
	_margin-left: 10px;
	display: block;
	float: left;
}
#content {
	width: 712px;
	float: right;
	margin-right: 17px;
	_margin-right: 9px;
	background:  url('../images/topwhite.jpg') no-repeat left top;
	margin-top: 5px;
}
#dmsheslo {
	position: relative;
	height: 125px;
	background:   url('../images/bannerGR/dmsheslo.jpg') no-repeat left top;
	color: #000;
}
#dmsheslorocni {
	position: relative;
	height: 80px;
	background:  #fff url('../images/bannerGR/banner2.jpg') no-repeat left top;
	color: #000;
	line-height: 2em;
	margin-top: 0;
	padding-top: 35px;
}
#dmsheslorocni h3{
 color: #000;
 font-size: 13px;
 margin: 0px 90px 50px 120px;
}
#dmsheslorocni h3 span{
 color: #fff;
 background: #acacac;
}
#dmsheslorocni h3 em{
 font-size: 17px;
 font-style: normal;
}
#dmsheslo h3, #dmsheslo h2 {
	margin: 20px 0 0 122px;
	_margin: 20px 0 0 61px;
	font-size: 25px;
	width: 150px;
	float: left;
	text-align: center;
}
#dmsheslo h3 {
	background: url('../images/dmspoint.gif') repeat-x left bottom;
	padding: 5px 0;

}
#dmsheslo h2 {
	margin-top: 0px;
	font-size: 46px;
	clear: left;
}
#dmsheslo #navod h2 {
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	margin: 5px 0 5px 0;
	float: none;
	width: 400px;
	text-align: left;
}
#dmsheslo p {
	margin: 0 0px 0 0;
	padding: 5px 80px 5px 0;
	background: url('../images/bannerGR/points.gif') no-repeat right bottom;
	font-size: 14px;
	text-align: left;
}
#dmsheslo p.nopoints {
	text-align: right;
	background: transparent;
	padding: 2px 30px 0 0;
	font-size: 13px;
}
#navod {
	background: #acacac url('../images/bannerGR/bgrnavod.gif') no-repeat right bottom;
	width: 421px;
	position: absolute;
	margin-top: 13px;
	right: 0;
	top: 0;
	height: 112px;
}
#price {
	width: 80px;
	height: 77px;
	background: url('../images/bannerGR/price.jpg') no-repeat left top;
	position: absolute;
	top: 0;
	right: 0;
}
#price div {
	display: none;
}
#menu {
	float: left;
	margin: 0;
	padding: 20px 0 0;
	width: 258px;
	display: block;
	margin-top: 0px;
	list-style-type: none;
}

#banner4{
	position: relative;
	height: 100px;
	background:  #fff url('../images/banner4.png') no-repeat left bottom;
	color: #000;
	line-height: 2em;
	margin-top: 0;
	padding-top: 15px;
}
#banner4 h3 {
  margin-left: 230px;
  margin-top:  5px;
  color: #fff;
  font-size: 180%;
}
#banner4 h3 em{
   font-size: 70%;
   font-weight: normal;
}

#banner5{
	position: relative;
	height: 100px;
	background:  #fff url('../images/banner5.png') no-repeat left bottom;
	color: #000;
	line-height: 2em;
	margin-top: 0;
	padding-top: 15px;
}
#banner5 h3 {
  margin-left: 200px;
  margin-top:  5px;       
  color: #fff;
  font-size: 180%;
}
#banner5 h3 em{
   font-size: 70%;
   font-weight: normal;
}
#banner { 	font-family:  Arial, Helvetica, lucida, sans-serif; }
#menu li {
	font-size: 140%;
	background: #fff  url('../images/menuli.gif') no-repeat left 0.2em;
	margin: 5px 0;
}
#menu li a {
	text-decoration: none;
	background: url('../images/menulia.gif') no-repeat left 0.2em;
	padding-left: 20px;
	color: #f7931d;
}
#menu li a:hover {
	background: transparent;
}
#menu li span {
	font-size: 80%;
	font-weight: normal;
	margin: 0.5em 0;
	display: none;
}
#menu li span.opened {
	display: block;
}
#menu li span a {
	display: block;
	color: #707070;
	text-transform: none;
	background: url('../images/menuspana.gif') no-repeat left center;
	padding-left: 15px;
font-size: 0.95em;
	margin-left: 5px;
}
#menu li span  a:hover {
	text-decoration: underline;
	background: url('../images/menuspana.gif') no-repeat left center;
}
#text {
	background: url('../images/text.gif') repeat-y left top;
	padding: 20px 10px 10px 40px;
	height: auto;
	min-height: 450px;
	_height: 450px;
	margin-top: 15px;
}
#text .new_window_link img, #footer .new_window_link img {
	width: 11px;
	height: 9px;
	border: 0;
	float: none;
	padding: 0;
	margin-left: 0.3em;
}
#text h1 {
	font-size: 150%;
	font-weight: normal;
	background: #fff  url('../images/menuli.gif') no-repeat left 0.2em;
	padding-left: 20px;
	color: #f7931d;
}
#text #aktuality h2, #text #sidemenu h2   {
	background: #ededed  url('../images/menuli.gif') no-repeat left 0.2em;
}
.fakeh2, #sidemenu h2{
font-size: 120%;
	font-weight: normal;
	background:    url('../images/menuli.gif') no-repeat left 0.2em;
	padding-left: 20px;
	color: #f7931d;
	padding-bottom: 15px;
	display: block;
}
#text h2 {
	font-size: 140%;
	color: #f7931d;
	font-weight: normal;
}
#text h3 {
	font-size: 110%;
	color: #f7931d;
	font-weight: normal;
}
#text #aktuality h3, #text #dmsproject h3, #text #sidemenu h3  {
	font-size: 120%;
	margin-bottom: 0.2em;
}
#text #dmsproject p {
	margin-top: 0;
}
#text h4 {
	font-size: 130%;
}
#homeleft {
	float: left;
	width: 300px;
}
#projectleft {
	float: left;
	width: 320px;
}
#otazky {
	width: 320px;
	margin : 2em 0;
	clear: right;
}
#aktuality, #dmsproject, #dmsprojecxxxt, #sidemenu {
	float: right;
	width: 300px;
	margin-top: -20px;
	background: #ededed;
	padding: 20px;
}
#dmsproject {
	background: #ededed url('../images/dmsproject.jpg') no-repeat right top;
	height: auto;
	width: 270px;
	min-height: 300px;
	_height: 300px;
}
#dmsprojecxxxt {
	background: #ededed ;
	height: auto;
	width: 270px;
	min-height: 300px;
	_height: 300px;
}
#dmsproject h4 {
	font-family:  "Trebuchet MS", Arial, lucida, sans-serif;
	color: #626262;
	font-size: 20px;
	margin-left: 25px;
	margin-top: 5px;
	.margin-top: 20px;
	margin-right: 60px;
	height: auto;
	min-height: 80px;
	_height: 80px;
}
#dmsproject h4 span {
	padding-left: 25px;
	background: url('../images/phone.gif') no-repeat left center;
}
#aktuality p. #sidemenu p {
	margin-top: 0;
}
p.date {
	color: #f7931d;
	margin: 0;
}
#text ul {
	list-style-type: square;
	margin-left: 1.5em;
	padding: 0;
}
#text ul li {
	color:  #f7931d;
}
#text  ul li span {
	color: #626262;
}

.more {
	margin-top: -2em;
	text-align: right;
}
#left, #text.isbox #intext {
	width: 300px;
	float: left;
}
#right {
	width: 300px;
	float: right;
}
.odrazit {
	line-height: 1.7em;
}
.odrazit strong {
	display: block;
	floaT: left;
	clear: right
}
.odrazit a, .odrazit span {
	display: block;
	float: right;
	width: 240px;
}
.bigger{
 font-size: 150%;
}
img.left{
 float: left;
 padding: 2px;
 border: 1px solid #e7e7e7;
 margin-right: 1em;
 margin-bottom: 1em;
}
img.right{
 float: right;
 padding: 2px;
 border: 1px solid #e7e7e7;
 margin-left: 1em;
 margin-bottom: 1em;
}
#left img.left{
  margin-top: 2em;
}
table.dms{
 border: 4px solid #e7e7e7;
 border-collapse: collapse;
 margin-top: 1em;
}
table.dms th, table.dms td{
 border: 1px solid #e7e7e7;
 border-collapse: collapse;
 padding: 5px 8px;
 vertical-align: top;
}
table.dms th{
 background: #dddddd;
 padding: 8px;
 color: #404040;
}
table.long{
 width: 500px;
}
 td.r{
  text-align: right;
 }
.new{
 padding-left: 20px;
 background: url('../images/new.gif') no-repeat left 2px;
}
.act{
 padding-left: 20px;
 background: url('../images/act.gif') no-repeat left 2px;
 font-weight: bold;
}
.arch{
 padding-left: 20px;
 background: url('../images/arch.gif') no-repeat left 2px;
}
#leftnno {
	width: 400px;
	float: left;
}
#aktualitynno {
	float: right;
	width: 200px;
	margin-top: 0px;
	background: #ededed;
	padding: 20px;
}
a.back{
 clear: left;
 display: block;
 padding-left: 10px;
 background: url('../images/back.gif') no-repeat left center;
 margin-top: 1em;
}
a.bigword, a.bigexcel, a.bigpdf, a.bigzip{
 height: 43px;
 line-height: 43px;
 display: block;
 padding-left: 46px;
 background: url('../images/bigword.jpg') no-repeat left top;
}
a.bigexcel{
background: url('../images/bigexcel.jpg') no-repeat left top;
}
a.bigpdf{
background: url('../images/bigpdf.jpg') no-repeat left top;
}
a.bigzip{
background: url('../images/bigzip.jpg') no-repeat left top;
}
#text fieldset{
 border: 1px solid #e7e7e7;
 margin: 0;
 padding: 0 1em 0.7em  0.7em;
}
#text form{
 padding: 0;
 margin: 0;
}
#text legend{
 background: #e7e7e7;
 padding: 0.3em 1em;
 margin: 1em 0;
}
#text label{
 float: left;
 display: block;
 width: 10em;
 }
#text label.long{
 float: left;
 display: block;
 width: 450px;
 }
#text label.long2{
 float: left;
 display: block;
 width: 450px;
 color: #c0c0c0;
 margin-left: 0;
 padding-left: 20px;
 } 
#text label.pravda{
 float: left;
 display: block;
 width: 450px;
 font-weight: bold;
 color: #000;
 background: url('../images/true.gif') no-repeat left center;
 } 
 #text label.pravdayou{
float: left;
 display: block;
 width: 450px;
 font-weight: bold;
 color: #000;
 background: url('../images/true.gif') no-repeat left center;
 }
 #text label.you{
float: left;
 display: block;
 width: 450px;
 color: #000;
 background: url('../images/false.gif') no-repeat left center;
 }
#text input{
 border: 1px solid #c0c0c0;
}
#text  #searchbutton{
	color: #996600;
	font-size: 12px;
	background: #ffffff url('../images/go2.jpg') repeat-x left top;
	width: 60px;
	height: 22px;
	border: none;
	margin: 1em 0;
	border: 1px solid #eccba2;
}
#open3a, #open3b, #open2a, #open2b{
  cursor: pointer;
  floaT: right;
}
strong.specialka{
 font-size: 150%;
 color: #F7931D;
}
 #text .dotaznik fieldset{
 background: transparent;
 border: none;
 margin-bottom: 1em;
 padding: 1em;
 width: 350px
}
 #text .dotaznik fieldset input{
 border: none;
 float: left;
 clear: left;
 }
 #text .dotaznik fieldset p{
 font-weight: bold
}
#text .dotaznik fieldset label{
 margin-left: 0.5em;
}
#text .dotaznik fieldset label.left{
 width: 11em;
 display: block;
 float: left;
 text-align: right;
 padding-right: 0.5em;
 }
 #text .dotaznik input.button{
  padding: 0.2em 1em;
  width: auto;
  height: auto;
 }
 #text .dotaznik  #requiredtextq{
  padding: 1em 1em;
  border: 1px solid #fff;
  background-color: #fee71f;
  margin-top: 1em;
  display: none;
 } 
#text .let5{
  width: 208px;
  background: url('../images/5letlines.jpg') repeat-y left top;
  float: left;
  margin: 20px 15px 0 0;
}
#text .lastbox{
  margin: 20px 0 0 0;
}
#text .let5 div{
  width: 208px;
  background:  url('../images/5lettop.jpg') no-repeat left top;
}
#text .let5 div div{
  width: 188px;
  height: 290px;
  padding: 10px;
  position: relative;
  background:  url('../images/5letdown.jpg') no-repeat left bottom;
}
#text .let5 div div img.foto{
  
  margin: 5px 5px 0px 0px;
  padding: 2px;
  border: 1px solid #e7e7e7;
}
#text .let5 h3 {
 margin: 0 0 5px 0;
 height: 2em;
}
#text .let5 h3 a{
 	color: #f7931d;
} 
#text .let5 a.in5let{
 position: absolute;
 display: block;
 bottom: 0;
 right: 0;
 width: 30px;
 height: 20px;
}
#text div.xxx{
 background-image: none;
}
#content #text .let5 div div p{
 height: 45px;
}

#CB_iFrame
{
	margin: -9px 0 0 -8px;
	width: 102.7% !important;
	height: 113% !important;
	z-index: 100 !important;
	filter: mask();
	border: none;
}
#CB_Image
{
	z-index: 400 !important;
}
img.logo{
margin-top: 1em;
}
a.top, a.down{
 height: 1em;
 width: 7px;
 margin: 0 3px;
 background: url('../images/top.gif') no-repeat left center;
 float: right;
 display: block;
}
a.down{
 background: url('../images/down.gif') no-repeat left center;
}
#aktuality.hop, #sidemenu.hop{
 margin-top: 10px;
}
.webname{
 display: none;
}
#sidemenu {
 margin-top: 30px;
}
#qsform fieldset li {
  list-style: none;
  padding: 0px;
  margin: 0;
	padding: 3px 0px 3px 0;
	background: url(../images/divider.gif) left bottom repeat-x;
	line-height: 29px;
	height: 29;
	min-height: 29px;
	
}
 
#qsform  fieldset fieldset {
  border: none;
  margin: 3px 0 0;
  width: 200px;
}
#qsform  fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
#qsform   label {
  display: block;
  width: auto;
  float: left;
}
#qsform  em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
#qsform fieldset ol li input, #qsform fieldset ol li select{
 floaT: right;
 margin-right: 20px;
 max-width: 180px;
}
#qsform fieldset ol li input,#qsform fieldset ol li select{
 floaT: left;
 margin-right: 0px;
 width:  100px;
 max-width: 205px;
}
#qsform fieldset ol li select{
 padding-left: 5px;
}
#qsform  label {
  width: 80px; 
 
  text-align: left;
}
#qsform  label.short {
  width: 115px; 
}
#qsform  fieldset fieldset label, #qsform fieldset fieldset label.short {
  margin-left: 118px;  
}
#qsform textarea{
 width: 90%;
 height: 100px;
 margin-left: 10px;
 	font-family: sans-serif;
	color: #404040;
	font-size: 85.1%;
}
#qsform textarea{
 width:  205px;
 max-width: 205px;
 height: 100px;
 margin-left: 0px;
}
#required, #norequired {
  display: none;
  margin-bottom: 10px;
	border: none;
  font-size: 80%;
	padding-bottom: 10px;
	border-top: 3px solid #E83120!important;
	border-bottom: 1px solid #E83120!important;
	background:  #fbf1e3 url(../images/req.jpg) left bottom repeat-x;
		width:350px
}
#norequired {
  display: block;
}
#requiredtext, #norequiredtext{
 margin: 10px!important;
}
#regbutton, #regbutton2{
 background: #13242B;
 border: 1px solid #fff;
 color: #fff;
 padding: 5px 1em;
}
#qsform{
 width: 300px;
}
#qsform ol{
 padding: 0;
 margin:  0;
}
   #logged{
   position: absolute;
   right: 40px;
  bottom: 60px;   
   }
 
 .datebox {
	width: 37px;
	height: 51px;
	background: url('../images/datumka.gif') no-repeat left top;
	float: left;
	margin-right: 1em;
	font-size: 9px;
}
.year span{
 font-sizE: 11px!important;
}
.miniboxxx{
 margin-bottom: 0.5em;
 clear: left;
}
.miniboxxx p{
 floaT: right;
 width: 252px;
 padding-top: 0;
 margin-top: 0;
}
.datebox p {
	margin: 3px 0 5px 0;
	text-align: center;
	width: auto;
	background: transparent;
	color: #fff;	
}
.datebox em{
  font-style: normal;
  color: #404040
}
.datebox span {
	display: block;
	font-size: 13px;
	width: 36px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-weight: bold;
 color: #404040;
 margin-top: 2px;
}
.miniboxxx.opened a{
  color: #F7931D;
}
.miniboxxx h3{
  font-size: 110%;
  font-weight: normal;
}
h1   em{
 display: none;
}
.mainclr{
 clear: both;
}
.hbox{
 background: url('../images/vtext.png') repeat-x bottom left;
}
a.biglink {
  display: block;
  padding: 15px 30px;
  background: #F7921C;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
  float: left;
  margin: 10px 0 20px 0;    
  font-size: 120%; 
}
a.biglink:hover{
  background: #707070;
}


#videolay{
 position: absolute;
 top: 50%;
 left: 50%;
 width: 800px;
 height: 500px;
 margin-top: -250px;
 margin-left:  -400px;
 background: #fff;
 border: 15px solid #e7e7e7;
  z-index: 990;   
}
.video_banner {
 width: 800px;
 height: 500px;
 overflow: hidden;  
}
#videolay a img {
 border: none;
  width: 800px;
 height: 500px;
 padding: 0;
 margin: 0;
}
#videolay a.img {
 text-decoration: none;
 width: 800px;
 height: 500px;
 padding: 0;
 margin: 0;
 background: e7e7e7;
}
#videolay a.img:hover {
 
 background: red;
}
#under {
 width: 100%;
 height: 100%;
 background: transparent;
 position: absolute;
 top: 0;
 left: 0;
 opacity:0;
filter:alpha(opacity=0);
 z-index: 900;      
}
#videolay a.tools{
  display: block;
  top: -15px;
  right: 0px;
  background: #96BF32;
  color: #fff;
  font-size: 9px;
  width: 40px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  -webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
text-decoration: none;
z-index:  1000
}
#videolay a.kill {
  right: 45px;  
}  
#videolay a:hover{
  background: #404040;
 
}
#isrel {
  position: relative;
}               
 