/* At-Rules */
@charset "windows-1250";


TABLE.tablemain {background-color: #ffcc00; font-family: verdana}


TD.logo {background-color: #FFFFFF; color: #999999; font-size: 20px; font-weight: bold; font-family: verdana}

TD.hlavicka {background-color: #FFFFFF; color: #FF6600; font-size: 20px; font-weight: normal; font-family: verdana}
.slogan {font-size: 22px; line-height: 17px}

TD.orange {background-color: #ff9900; color: #ffffff; font-family:  verdana; font-size: 10px; font-weight: bold; text-align: left; padding-left:5}


A.orange:link {color: #FFffff; text-decoration: none}
A.orange:hover {color: #cccccc; text-decoration: none}
A.orange:active {color: #FFffff; text-decoration: none}
A.orange:visited {color: #FFFFCC; text-decoration: none}

A.orange1:link {color: #000000; font-size: 11px; letter-spacing: -1px; text-decoration: none; line-height: 15px}
A.orange1:hover {color: #FF0000; font-size: 11px; letter-spacing: -1px; text-decoration: none; line-height: 15px}
A.orange1:active {color: #000000; font-size: 11px; letter-spacing: -1px; text-decoration: none; line-height: 15px}
A.orange1:visited {color: #000000; font-size: 11px; letter-spacing: -1px; text-decoration: none; line-height: 15px}

TD.blue {background-color: #0099CC; color: #ffffff; font-family:  verdana; font-size: 10px; font-weight: bold; text-align: left; padding-left:5}


.tecky {font-size: 14px; font-family: arial;  color: #000000; letter-spacing: 3px; line-height: 10px }
.nazev1 {font-size: 14px;  color: #000000; font-weight: bold}
.nazev2 {font-size: 16px;  color: #ffffff; font-weight: bold; line-height: 5px}
.nazev3 {font-size: 22px;  color: #000000; font-weight: bold; line-height: 5px}
.nazev4 {font-size: 14px;  color: #ffffff; font-weight: bold}

TD.grey {background-color: #E5E5E5; color: #000000; font-family:  verdana; font-size: 10px; overflow:auto; text-align: justify; padding-left:10; padding-right:10; padding-top:10 ; padding-bottom:10}



#novinky {
	position:absolute; left:222px; top:275px;
	width:410px; height:350px;
	overflow:auto;
	text-align: justify;
	font-family: verdana;
	padding-top:0;
	padding-left:0;
	padding-right:5;
	background: #E5E5E5;
	border:0px;
	font-size: 11px;
	}


A:link {color: #000000;}
A:hover {color: #FF6600; }
A:active {color: #FFFFFF;}
A:visited {color: #000000;}


.menu {font-family: verdana; font-size: 11px; font-weight: bold;  line-height: 22px; letter-spacing: -1px}
A.menu:link {color: #FF6600; text-decoration: none}
A.menu:hover {color: #747474; text-decoration: none}
A.menu:active {color: #FF0033; text-decoration: none}
A.menu:visited {color: #FF6600; text-decoration: none}

.menu1 {font-family: verdana; font-size: 11px; font-weight: bold;  line-height: 22px; letter-spacing: -1px }
A.menu1:link {color: #0099CC; text-decoration: none}
A.menu1:hover {color: #747474; text-decoration: none}
A.menu1:active {color: #FF0033; text-decoration: none}
A.menu1:visited {color: #0099CC; text-decoration: none}


TD.paticka {color: #9D9D9D; font-family:  verdana; font-size: 10px; text-align: right; line-height: 10px}


/* End of style section. Generated by AceHTML at 2003/08/21 15:26:31 */