 
 
        html, body {
           overflow: hidden;
           height: 100%;  
               -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;        
        }
        
        *{
        box-sizing: border-box;  
        }
        #wrapper { 
            margin:0;
            padding:  0px 0  0px 0;
            perspective: 1px;
            -webkit-perspective: 1px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            background: #fbfcfd;  
                     background: #eef1f6;
            position: relative;   
        }  
       header, #main {
            position: relative;
            width: 100%;
            box-sizing: border-box;                              
            -webkit-transform-style: inherit;
            transform-style: inherit;
            
        }
        #main{
         background: #fbfcfd;
         background: #eef1f6;
         margin-top:   110px;
         min-height: 400px;
         padding-bottom: 40px;
         border-top: 0px solid white;
         border-bottom: 30px solid #4f4f4f;
        }
        header {
           height: 1000px;
           font-size: 175%;
            color: #fff;
          width: 200%;
          -webkit-transform: translateZ(-1px) scale(1);
          transform: translateZ(-1px) scale(1);   
 
            margin-top:   -240px;     
            margin-left: -50.5%;     
            background-size: cover;
           display: none;
        }       
        footer {
            background: #222;
            height: 340px;
            color: #fff;
        }
        nav {
         background: #fff;
         height:  80px;
         width: 100%;
         z-index: 1000;   
         top: 0px;  
         color: #000;  
          position: fixed;
 
 
        }
        