     header {
    height: 450px;
    font-size: 105%;
    color: #fff;
    width: 100%;
    -webkit-transform: none;
    transform: none;
    margin-top:  130px;
    margin-left:  0%;
    background-size: cover;
}
#main {
    background: #f8f9fb;
    margin-top: 0px;
}   
#slideshow .slide .caption {
    width: 700px;
    top: 155px;
    left: 50%;
    margin-lefT: -650px;
} 
#slideshow .slide .caption strong {
    font-size: 200%;
}
#slideshow .slide .caption h2 {
    font-size: 330%;
}