                                                                      
 @media screen and (max-width: 1290px) {   
    section , footer div { width: 100%;
    padding-left: 5%;
    padding-right: 5%;   }
    #catz { width: 100%!important }
    nav div { width: 100%; padding-left: 5%; padding-right: 1% }
 }
  @media screen and (max-width: 1100px) {   
 
   img.normalimg { max-width: 100% }
   nav ul {    margin: 20px 0 0 150px;  }
   #lg input { clear: left; }
   #lg label {width: 100%}
   #sidemenu2016 input.right { margin-left: 0}
   section#content-right {padding-right: 2%}  
  .titleceeper  p { width: 100%;   clear: both; margin-top: 0em; padding-bottom: 0.5em  }
  .kat input, .kat textarea { max-width: 100%!important }
 
   }
  @media screen and (max-width: 1000px) {   
     .catlist { width: 20% !important; background-size: 70px !important; }
   }   
  @media screen and (max-width: 900px) {   
     .catlist { width: 25% !important; background-size: 70px !important; }
   } 

  @media screen and (max-width: 800px) {    
     .miniboxxx , #sidemenu, footer div span, #text.isbox, #projectleft, #dmsproject   { widtH: 100%!important; padding-left: 0%; padding-right: 0%; margin-lefT: 0 }
    footer, footer div { height: auto; }
    #startmenu {      display: block;   }
    #menu {      display: none;   } 
    #main {  margin-top: 100px;   }
    .hbox { width: 100%!important }
      .catlist { width: 33% !important; background-size: 70px !important; }
       footer span.right {   text-align: left!important; }
       footer .social {float: left; }
 }  
   @media screen and (max-width: 700px) {   
     .catlist { width: 50% !important; background-size: 70px !important; }
     section#content-left, section#content-right{ width: 100%; padding: 0 2%}
   } 
 
  @media screen and (max-width: 520px) {   
   nav {  height: 90px;  }
   table.dms td:nth-child(2) { display: none; }
    table.dms th:nth-child(2) { display: none; }
   header { margin-top: -220px;      height: 500px; }                       
   #slideshow .slide .caption a { font-size: 90%; }
   #main {   margin-top: 130px;  }
   footer div span iframe {  max-width: 95%; }  
   .catlist { width: 100% !important; background-size: 70px !important; }  
   #homebox1, #homebox2 { height:430px!important }  
   #homebox3 { height:530px!important }  
  .inpage .catlist { text-align: left; background-position: -10px top; top;   background-repeat: no-repeat!important; display: inline; padding: 0 0 0 60px; }
   } 
   
 