html, body {
	background: #fff;
	color: #626262;
	font-family:  Arial, Helvetica, lucida, sans-serif;

	margin: 0;
	padding: 0;
	text-align: center;
}
table{
 width: 650px!important;
 	font-size: 65.01%!important;
}
table h2 {
	font-size: 110%;
	font-weight: normal;
	background: #fff  url('/images/menuli.gif') no-repeat left 0.2em;
	padding-left: 20px;
	color: #f7931d;
	text-align: left!important;
}
hr{
 border: none;
 border-top: 1px solid #e7e7e7;
 height: 1px;
}
