body{
background: transparent url('./logo2.jpg') no-repeat 3px 3px;
	color: #626262;
	font-family:  Arial, Helvetica, lucida, sans-serif;
	font-size: 9px;
	margin: 0;
	padding: 37px 0 0 0;
	text-align: left;
	overflow: hidden;
	border: 3px solid #e7e7e7;
}
p,h4 { margin: 0; padding: 0; }
h4{ font-size: 11px; }
a{
 color: #F7941D;
}
div{
   background: #fff;
   padding: 3px 7px 7px 7px;

}
