body {
	FONT-FAMILY: Arial CE, Arial, Verdana CE, Helvetica, sans-serif;
	background-color: #E1DFDF;
	COLOR: black;
	TEXT-ALIGN: center;
	FONT-SIZE: 70.1%;
	margin: 0px auto 0px auto;
	padding: 0.5em;
}
fieldset {
	width: 600px;
	padding: 10px;
	border: 1px solid #c0c0c0;
	margin: 20px 0 10px 0;
}

legend {
	padding: 0.2em 1em;
	border: 1px solid #c0c0c0;
	color: black;
	background: #EFEFEF;
	margin: 10px 0;
}
label {
	display: block;
	width: 7em;
	float: left;
	line-height: 2em;
	clear: left;
}
iframe {
	width: 540px;
}

#top {
	height: 52px;
	text-align: left;
	padding: 0;
	color: #fff;
	background: #fff;
	background: transparent url('../pictures/spodek.gif') repeat-x left bottom;
	border: 1px solid #C2DEE9;
	border-bottom-width: 0px;
	font-weight: bold;
	font-size: 120%;
	letter-spacing: 2px;
}
#top img {
	margin-top: 3px;
}
#top div {
	float: right;
	background: transparent url('../pictures/artbox.jpg') no-repeat right bottom;
	height: 52px;
	width: 193px;
}
#middl {
	height: auto;
	_height: 350px;
	min-height: 350px;
	text-align: left;
	padding: 2em;
}
#menu {
	height: 2em;
	text-align: left;
	padding: 0.2em;
	color: #fff;
	background: #00ACEE;
	margin-top: 2px;
}
#down {
	height: 2em;
	text-align: left;
	padding: 0.2em;
	color: #fff;
	background: #00ACEE;
	border-bottom: 1px  solid black;
}
#menu a {
	#fff;
}
#down2 {
	height: auto;
	min-height: 2.5em;
	_height: 1.5em;
	line-height: 1.5em;
	text-align: left;
	color: #A9A7A7;
	background: #EAE8E9;
	padding-left: 5px;
}
#down2 a {
	color: #000;
}
#headfix {
	margin: 0 auto 0 auto;
	width: 95%;
	padding: 10px;
	border: 1px solid #c0c0c0;
	color: #000000;
	background: #fff none;
}
input {
	border: 1px solid #c0c0c0;
	background: #fff;
	margin: 0.1em;
}
fieldset input.radio {
	border: none;
	float: left;
	clear: left;
}
fieldset span.radio {
	display: block;
	line-height: 1.3em;
	width: 500px;
	margin-left: 5px;
}
input.long {
	width: 250px;
}
input.news {
	width: 225px;
}
h1 {
	background-color: #00ACEE;
	color: #fff;
	font-weight: bold;
	font-size: 120%;
	padding: 0 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	border-bottom: 1px  solid black;
	letter-spacing: 2px;
	clear: both;
  line-height: 20px;
  height: 20px;
}
h1 a {
	color: #fff;
}
h1 b {
	font-size: 110%;
	font-style: italic;
}
textarea {
	border: 1px solid #c0c0c0;
	width: 600px;
       .width: 570px;
	padding: 2px;
	FONT-FAMILY: Arial CE, Verdana CE, Helvetica, sans-serif;
	COLOR: black;
	margin-right: 2px;
	margin-top: 0px;
	height: 400px;
}
#menu a {
	color: #fff;
	background-color: transparent;
	display: block;
	float: left;
	padding: 2px 0.5em 2px 0.5em;
	margin: 0;
	border: 0px solid white;
	height: 20px;
	line-height: 20px;
}
#menu a:hover, h1 a:hover {
	color: #000;
	background-color: #ffdf4e;
	text-decoration: none;
}
#menu a.none {
	color: black;
	background-color: transparent;
	display: block;
	float: left;
	padding: 2px 0.5em 2px 0.5em;
	margin: 0;
	border: 0px solid white;
	text-decoration: none;
}
#menu a:hover.none {
	color: #000;
	background-color: transparent;
	text-decoration: none;
}
h2 {
	background-color: #dedede;
	COLOR: #2F61A6;
	padding-left: 5px;
	margin-right: 3px;
	border-color: #2F61A6;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
h3 {
	COLOR: black;
	padding-left: 2px;
	margin-right: 3px;
	margin-bottom: 2em;
	font-size: 110%;
	border: 1px solid #c0c0c0;
	margin-top: 0.5em;
	background: #f5f5f5;
	padding: 0 1em 1em 1em;
}
input.button {
	border-color:  #000000;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	BACKGROUND-COLOR: #2F61A6;
	FONT-FAMILY: Arial CE, Verdana CE, Helvetica, sans-serif;
	COLOR: #fff;
	font-weight: bold;
	padding: 5px 2em;
	margin-top: 9px;
}
div span {
	display: block;
	float: left;
	width: 100px;
}
div h1 span {
	width: 4em;
	float: right;
	display: block;
}
div h1 span a {
	width: 4em;
	display: block;
	background: #43ccf5;
	line-height: 20px;
	margin: 0 2px;
	text-align: center;
 
}
textarea.admin {
	display: none;
	width: 0;
	height: 0;
	border: none;
}
a {
	color: black;
}
.prehled {
	width: 100%;
	border: 0px solid #C3DFEA;
	color: #000;
	border-bottom-width: 1px;
	clear: both;
  height: 22px;
  line-height: 22px;
}
.prehled div {
	width: 90%;
  height: 22px;
  line-height: 22px;
}
.prehled div p{
 margin: 0 3px;
 padding: 0;
 line-height: 22px;
 float: left;
 display: block;
}
table {
	border: 1px solid #9496af;
		dfdffborder: 1px solid #C3DFEA;
	border-collapse: collapse;
	border-width: 1px;
	width: 650px;
	font-size: 12px;
}
th, td{
		border: 1px solid #C3DFEA;
		line-height: 2em;
		padding: 0 5px;
}
.center{
   text-align: center;
}
th{
	background: #00ACEE;
	line-height: 20px;
	color: #fff;
	font-weight: bold;
	border-bottom-color: #000;
}
fieldset table{
  width: auto;
  border: none;
}
fieldset th, fieldset td{
	background: #fff;
	line-height: 2em;
	color: #000;
text-align: left;
	border: none;
}
fieldset th{
	font-weight: bold;
}
fieldset table.doubletbl td{
	border: 1px solid #E8e8e8;
}
fieldset table.doubletbl td.none{
	border: 1px solid #E8e8e8;
	border-width: 0px 0px 0px 0px;
	width: 50px;
}
tr.darker td{
  background: #e5e5bb;
}
tr.dark td{
  background: #e8e8e8;
}
.required {
	background: #fff url(required.gif) top right no-repeat;
}
.invalid {
	background: #fff url(wrong.gif) top right no-repeat;
	color: red;
}
select.required {
	background: #fff url(required.gif) top left no-repeat;
}
select.invalid {
	background: #fff url(wrong.gif) top left no-repeat;
	color: red;
}
.card-photo {
	margin: 0.5em;
	border: 1px solid #E8e8e8;
	padding: 1em;
	height: 80px;
}
.card-photo img {
	border: 1px solid #c0c0c0;
	padding: 2px;
	float: left;
	margin-right: 3em;
}
#down2 img, #down a img {
	float: right;
	margin: 5px 10px 5px 2em;
	border: none;
}
#down2 img.normal {
	float: none;
	margin: 2px 3px 0 3px;
	display: inline;
}
.dir {
	background: #F7F7F7;
	display: block;
	width: 12em;
	float: left;
	overflow: hidden;
	margin: 2px;
	height: 18px;
	line-height: 18px;
}
.dir a {
	display: block;
	float: left;
	border: 1px solid #e8e8e8;
	background: #fff;
	margin-right: 2px;
	margin-top: 1px;
}
.dir a:hover {
	border: 1px solid #c0c0c0;
}
img.butt {
	border: none;
	margin-top: 1px;
}

.galerie img {
	margin: auto;
}
.block {
	height: 98px;
	width: 98px;
	margin: 3px;
	border: 1px solid threedface;
	text-align: center;
	behavior: url(assets/hover.htc );
}
.block a img {
	border: 0 none;
}
.mezi {
	border: 0 none;
	font-size: 3px;
	height: 3px;
}
.block:hover, .block.hover {
	background-color: #ffc;
}
.edit {
	font-size: 9pt;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	padding-top: 3px;
}
.edit a img {
	border: 0 none;
	vertical-align: bottom;
}
#menu a.admins {
	background: url('./users.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.admins:hover {
	background: #ffdf4e url('./usershover.gif') no-repeat 3px center;
}
#menu a.users {
	background:  url('./admins.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.users:hover {
	background: #ffdf4e url('./adminshover.gif') no-repeat 3px center;
}
#menu a.groups {
	background:  url('./groups.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.groups:hover {
	background: #ffdf4e url('./groupshover.gif') no-repeat 3px center;
}
#menu a.products {
	background:  url('./kos.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.products:hover {
	background: #ffdf4e url('./koshover.gif') no-repeat 3px center;
}
#menu a.rubriky {
	background:  url('./rubriky.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.rubriky:hover {
	background: #ffdf4e url('./rubrikyhover.gif') no-repeat 3px center;
}
#menu a.akce {
	background:  url('./akce.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.akce:hover {
	background: #ffdf4e url('./akcehover.gif') no-repeat 3px center;
}
#menu a.question {
	background:  url('./question.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.question:hover {
	background: #ffdf4e url('./questionhover.gif') no-repeat 3px center;
}
#menu a.emaily {
	background:  url('./emaily.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.emaily:hover {
	background: #ffdf4e url('./emailyhover.gif') no-repeat 3px center;
}
#menu a.content {
	background:  url('./content.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.content:hover {
	background: #ffdf4e url('./contenthover.gif') no-repeat 3px center;
}
#menu a.blog {
	background:  url('./blog.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.blog:hover {
	background: #ffdf4e url('./bloghover.gif') no-repeat 3px center;
}
#menu a.foto {
	background:  url('./foto.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.foto:hover {
	background: #ffdf4e url('./fotohover.gif') no-repeat 3px center;
}
#menu a.home {
	background:  url('./home.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.home:hover {
	background: #ffdf4e url('./homehover.gif') no-repeat 3px center;
}
#menu a.downloads {
	background:  url('./download.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.downloads:hover {
	background: #ffdf4e url('./downloadhover.gif') no-repeat 3px center;
}
p.counting span, p.counting a{
  display: block;
  float:left;
  margin-right: 1.6px;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  line-height: 1.6em;
  border: 1px solid #9496af;
  
}
p.counting span{
     background: #e5e5bb;
}
p.counting a:hover{
   background: #e5e5bb;
}
 
.prehled a img{
 border: 1px solid #fff;

 float: left;
 margin-top: 2px;
}
.prehled img.left{
margin-top: 2px;
 float: left;
}
.prehled a:hover img{
 border: 1px solid #c0c0c0;
}
span.pages {
 font-weight: bold;
 width: 8em;
 display: block;
 float: left;
}
a.pages, a.now{
 display: block;
 float: left;
 border: 1px solid #c0c0c0;
 width: 1.5em;
 height: 1.5em;
 text-align: center;
 margin-right: 2px;
 margin-bottom: 0.5em;
}
a:hover.pages{
 background: #e7e7e7;
}
a.now{
 border: 1px solid #000;
}
#thumbnails fieldset{
 display: block;
 width: 140px;
 float: left;
 text-align: center;
 margin: 5px;
}
 
.prehledReakce{
 display: none;
 padding-bottom: 1em;
}
