 #headfix {
  position: absolute;
  width: 900px;
  left: 5px;

 }
 hrml,body {  height: 100%; }
 .newsubmit {
    width: 180px;
    position: fixed;
    left: 735px;
    top: 80px;
}
   #xview { 
   
    position: absolute;
    right:  -82%;
    width: 180%;
    height: 150vh;
    margin-top: 0px;
     -ms-transform: scale(0.55);
    -moz-transform: scale(0.55);
    -o-transform: scale(0.55);
    -webkit-transform: scale(0.55);
    transform: scale(0.55);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    
    }
    
    #view{
    display: block;
    width: 100%;             
    box-sizing: border-box;

    min-height: 100%;
    float: right
    }
    #view div{
     border: 0px solid #c0c0c0;
     height: 100%;
     margin: 0 10px;
     min-height: 98vh;
         position: relative;  
             margin-left:   920px;    
             background: #fff
    }