body {
	font-family: Arial, Tahoma, "Lucida Grande CE", lucida, sans-serif;
	margin: 0px;
	padding: 10px;
	text-align: left;
	font-size: 11px;
	background:  #eeefea;
}
h2 {
	font-size: 17px;
	display: block;
	background-color: #fff;
	color: #009CFE;
	border-bottom: 1px solid #009CFE;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 10px;
	padding-bottom: 10px;
}
h3 {
	font-size: 13px;
	color: #000;
	margin-bottom: 5px;
}
p, h3, h2{
 margin-left: 10px;
 margin-right: 10px;
}
p.brdr {
	border-bottom: 1px solid #009CFE;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
}
p.nospace{
  margin-top: 0px;
  padding-top: 0px;
}
a {
	color: #009CFE;
}
table{
  background: #ffffff;
}
td.rusnuclear{
  background: url('http://www.rusnuclear.cz/images/newsletter.jpg') no-repeat;
  height: 168px;
  
}
