.dragdrop_dragable
{
	cursor: move;
}
.dragdrop_dragable *
{
	cursor: auto;
}
#dragdrop_overlay
{
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	font-size: 0;
	background: #fff;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	z-index: 200;
}
.dragdrop_icon
{
	display: none;
}